html {
  font-size: 14px;
  height: 100vh;
}

body {
  background-color: blanchedalmond;
  font-family: 'Signika', sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.6;
  margin: 0;
}

* {
 box-sizing: border-box;
}

.App {
  color: rgb(26, 13, 2);
  margin: 0 56px;
}

h1 {
  color: goldenrod;
  font-size: 56px;
  margin-top: 48px;
}

h1,
h2 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

a:link,
a:visited {
  color: rgb(78, 57, 7);
  font-weight: 700;
}

a:hover {
  opacity: 0.8;
}

article > p {
  margin: 12px auto;
  max-width: 50ch;
}

.article,
.second-article,
.third-article {
  margin: 56px 0;
  padding: 56px;
}

.article {
  background-color:burlywood;
}

.second-article {
  background-color:rgb(151, 126, 94);
}

.third-article {
  background-color:rgb(159, 117, 62);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: center;
  margin: 36px;
}

button {
  background-color: goldenrod;
  border-style: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  padding: 24px;
}

button:hover {
  background-color: rgb(244, 185, 38);
}

.figures {
  display: flex;
  gap: 24px;
  height: 200px;
  margin: 48px;
}

.figure {
  align-items: center;
  background-color: darkgoldenrod;
  border: 1px solid #000;
  color: blanchedalmond;
  display: flex;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  width: 400px;
}

.article-pic {
  margin-top: 48px;
  width: 100%;
}

.hide-article {
  display: none;
}

footer {
  background-color: goldenrod;
}

.footer-copy {
  color: blanchedalmond;
  padding: 80px;
  text-align: center;
}